
.container{
	background-color: #f5f7f6;
	border: 1px solid aquamarine;
	padding: 40px;
}

.hi {
	background-color:yellow;
	padding: 10px;
	margin: 20px 0px 0px 10px;
}

main{
    color: #504c60;
    margin-left: 0px;
    margin-bottom: 50px; 
    padding-bottom: 0px;
    font: 20px Didot, italic;
}
.portrait { 
	border-radius: 50%;
	border: 1px solid red;
	background-repeat: no-repeat; 
	background-position: 50%; 
}

h1{
	font: bold 40px Didot, serif;
}

h2{
	font: bold 25px Didot, serif;
}

h3{
	font: 20px Didot, serif;
}

address{
	font: bold 20px Didot, serif;
}

section{
	margin-left: 0px;
    margin-bottom: 50px; 
    padding-bottom: 0px;
    color: #484657;
}


p{
	font: bold 20px Didot, serif;
}


ul{
	font: 20px Didot, serif;
}